.hero {


    &__image {
        position: relative;
        background-image: url('../images/Michael_HDSHT-2r.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        height: 200px;
        width: 200px;
    }
}